.table-header {
  background-color: #dde9f9;
}

.table-header-kategori th {
  height: 70px;
  align-content: center;
  background-color: #dde9f9;
  font-weight: bold;
  text-align: center;
}

.table-body-kategori td {
  height: auto;
}

.kategori-button-wrapper Button {
  width: 100px;
}
